* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 80%;
  margin: 0px auto;
}
.nav-container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}
.nav-wrapper {
  background-color: azure;
}
.nav-right {
  padding: 0;
}
.nav-right li {
  display: inline;
  padding: 0rem 0.5rem;
  margin: auto 0px;
}
.nav-right li > a {
  list-style: none;
  text-decoration: none;
}
span {
  padding: 0.3rem;
}
