* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 80%;
  margin: 0px auto;
}
.container > h1 {
  text-align: center;
}
.nav-container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}
.nav-wrapper {
  background-color: azure;
}
.nav-right {
  padding: 0;
}
.nav-right li {
  display: inline;
  padding: 0rem 0.5rem;
  margin: auto 0px;
}
.nav-right li > a {
  list-style: none;
  text-decoration: none;
}
span {
  padding: 0.3rem;
}
.btn {
  color: black;
  padding: 0.2rem 0.5rem;
  background-color: bisque;
  border: 2px solid black;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btn:hover {
  background-color: rgba(255, 228, 196, 0.212);
}
.item-container {
  margin: 0px auto;
  width: 80%;
  padding: 1rem;
  border-bottom: 1px solid bisque;
}
.fa {
  font-size: 26px;
}
span {
  display: block;
}
.cart-number {
  display: inline;
}
